    <footer class="page-footer">
      <section class="footer-main">
        <div class="footer-main__container base-container">
          <div class="footer-main__wrapper">
            <span class="footer-main__label-top">Пишите нам в мессенджерах:</span>
            <span class="footer-main__label-top">Помощь</span>
            <span class="footer-main__label-top">Услуги</span>

            <div class="footer-main__left-block">
              <div class="footer-main__phone-block">
                <a class="footer-main__phone-link base-link" href="tel:+7000000000">7 (000) 00-00-00</a>
                <a class="footer-main__phone-link base-link" href="tel:+7000000000">7 (000) 00-00-00</a>
              </div>
  
              <div class="footer-main__socials">
                <a class="footer-main__socials-link base-link" href="#">
                  <figure class="footer-main__socials-image base-figure">
                    <img class="footer-main__socials-img" src="img/image/vk.png" width="40" height="40">
                  </figure>
                </a>
                <a class="footer-main__socials-link base-link" href="#">
                  <figure class="footer-main__socials-image base-figure">
                    <img class="footer-main__socials-img" src="img/image/viber.png" width="40" height="40">
                  </figure>
                </a>
                <a class="footer-main__socials-link base-link" href="#">
                  <figure class="footer-main__socials-image base-figure">
                    <img class="footer-main__socials-img" src="img/image/whatsapp.png" width="40" height="40">
                  </figure>
                </a>
              </div>
  
              <a class="footer-main__email base-link" href="tel:info@gmail.com">info@gmail.com</a>
            </div>
  
            <ul class="footer-main__nav-list base-list">
              <li class="footer-main__nav-item">
                <a class="footer-main__nav-link base-link" href="#">О компании</a>
              </li>
              <li class="footer-main__nav-item">
                <a class="footer-main__nav-link base-link" href="#">Популярные вопросы</a>
              </li>
              <li class="footer-main__nav-item">
                <a class="footer-main__nav-link base-link" href="#">Контакты</a>
              </li>
            </ul>
            
            <ul class="footer-main__nav-list base-list">
              <li class="footer-main__nav-item">
                <a class="footer-main__nav-link base-link" href="#">Продажа и монтаж</a>
              </li>
              <li class="footer-main__nav-item">
                <a class="footer-main__nav-link base-link" href="#">Погрузка и доставка</a>
              </li>
              <li class="footer-main__nav-item">
                <a class="footer-main__nav-link base-link" href="#">Замер и консультация</a>
              </li>
            </ul>
          </div>

        </div>
      </section>

      <section class="footer-underline">
        <div class="footer-underline__container base-container">
          <span class="footer-underline__copyright">© Панели</span>
          <a class="footer-underline__policy base-link" href="#">Политика конфеденциальности</a>
          <a class="footer-underline__isart-link base-link" href="#">
            <span class="footer-underline__isart-text">Разработано</span>
            <svg class="footer-underline__logo-icon" width="52" height="22" alt="#">
              <use href="img/icon/sprite.svg#isart-logo-icon"></use>
            </svg>
          </a>
        </div>
      </section>
    </footer>

    <script src="js/index.min.js"></script>
  </body>

</html>