<section class="feedbackForm">
  <div class="feedbackForm__container">
    <div class="feedbackForm__column feedbackForm__column--left">
      <h2 class="feedbackForm__title section-title base-title">
        Получите бесплатную консультацию и скидку на  заказ услуг по нашим термопанелями!
      </h2>
      <span class="feedbackForm__subtitle">
        Бесплатно проконсультируем  и расскажем все о термопанелях!
      </span>
      <form class="feedbackForm__form" name="feedback_form">
        <input class="feedbackForm__input" type="tel" required placeholder="+ 7 (000) 000-00-00" id="feedback_form_phone" name="feedback_form_phone">
        <label class="feedbackForm__checkbox-label" for="feedback_form_checkbox">
          <input class="feedbackForm__checkbox" type="checkbox" id="feedback_form_checkbox" checked required>
          Отправляя форму, вы соглашаетесь с условиями обработки персональных данных.
        </label>
        <button class="feedbackForm__submit main-button base-button" type="submit">
          <span class="main-button__text">Получить консультацию</span>
        </button>
      </form>
    </div>
    <div class="feedbackForm__column feedbackForm__column--right">
      <figure class="feedbackForm__image base-figure">
        <img class="feedbackForm__img" src="img/image/feedback-form.jpg" width="948" height="596">
      </figure>
    </div>
  </div>
</section>