<section class="second-heading">
  <div class="second-heading__container" style="background:url('@@background');background-size:cover;background-repeat:no-repeat;">
    <div class="second-heading__wrapper">
      <h1 class="second-heading__title base-title">@@title</h1>
      <div class="second-heading__breadcrumbs">
        <a class="second-heading__breadcrumbs-home base-link" href="index.html">Главная</a>
        <span class="second-heading__breadcrumbs-current">/ @@title</span>
      </div>
    </div>
  </div>
</section>