<section class="map">

  <iframe class="map__map-block" src="https://yandex.ru/map-widget/v1/?um=constructor%3A83e3ddc3eb72d51efcb3c7e4d8b8c180bbe7dc0f978a3cae4c52d18cb1c27b7f&amp;source=constructor" width="100%" height="830" frameborder="0"></iframe>

  <div class="map__contacts">
    <div class="map__contacts-container base-container">
      <div class="map__contacts-inner">
        <h3 class="map__contacts-title base-title">Наши контакты</h3>
        <a class="map__contacts-phone blue-hover base-link" href="tel:">8 (000) 000-00-00</a>
        <a class="map__contacts-email blue-hover base-link" href="mailto:">info@gmail.com</a>
        <p class="map__contacts-address base-par">
          г. Орехово-Зуево,<br> ул.Воровского, д.13 пр.6
        </p>
        <p class="map__contacts-work base-par">
          График работы:<br>
          Пн-пт с 11:00 до 20:00<br>
          Cб-вс c 10:00 до 16:00
        </p>
  
        <div class="map__contacts-socials">
          <a class="map__socials-link base-link" href="#">
            <figure class="map__socials-image base-figure">
              <img class="map__socials-img" src="img/image/vk.png" width="40" height="40">
            </figure>
          </a>
          <a class="map__socials-link base-link" href="#">
            <figure class="map__socials-image base-figure">
              <img class="map__socials-img" src="img/image/viber.png" width="40" height="40">
            </figure>
          </a>
          <a class="map__socials-link base-link" href="#">
            <figure class="map__socials-image base-figure">
              <img class="map__socials-img" src="img/image/whatsapp.png" width="40" height="40">
            </figure>
          </a>
        </div>
      </div>
    </div>

  </div>
</section>