@use "../mixins";

.feedbackForm {
  background-color: var(--color-alabaster);
  overflow: hidden;

  @include mixins.respond-to(mobileOnly) {
    padding: 50px 0 50px 0;

    margin: 60px 0 0 0;
  }

  @include mixins.respond-to(tablet) {
    padding: 50px 0 50px 0;

    margin: 60px 0 0 0;
  }

  @include mixins.respond-to(desktopM) {
    padding: 100px 0 100px 0;

    margin: 70px 0 0 0;
  }

  &__container {
    display: flex;
    align-items: stretch;

    @include mixins.respond-to(mobileOnly) {
      width: 90%;
      margin: 0 auto;
    }

    @include mixins.respond-to(tablet) {
      width: 90%;
      margin: 0 auto;
    }

    @include mixins.respond-to(desktopM) {
      position: relative;

      width: inherit;
      max-width: calc(100% - ((100% - var(--container-width)) / 2));
      overflow: hidden;

      margin: 0;
      margin-left: auto;
    }
  }

  &__column {
    @include mixins.respond-to(desktopD) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      margin: 0 25px 0 0;

      &:last-child {
        margin: 0;
      }
  
      &--left {
        max-width: 636px;
      }
    }
  }

  &__column--left {
    min-height: 600px;;
  }

  &__title {
    margin: 0 0 16px 0;
  }

  &__subtitle {
    display: inline-block;

    max-width: 415px;

    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: var(--color-scorpion);

    margin: 0 0 45px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 15px 0;
    }

    @include mixins.respond-to(tablet) {
      margin: 0 0 15px 0;
    }

    @include mixins.respond-to(desktopM) {
      margin: 0 0 45px 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    background-color: var(--color-alabaster);
    border: none;
    border-top: 1px solid var(--color-fountain-blue);
    border-bottom: 1px solid var(--color-fountain-blue);
    outline: none;

    font-family: var(--font-family-title);
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-black);

    padding: 25px 0 20px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 15px 0;
    }

    @include mixins.respond-to(tablet) {
      margin: 0 0 15px 0;
    }

    @include mixins.respond-to(desktopM) {
      margin: 0 0 20px 0;
    }
  }

  &__checkbox-label {
    display: flex;

    max-width: 415px;
    user-select: none;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--color-black);

    margin: 0 0 75px 0;

    @include mixins.respond-to(mobileOnly) {
      align-items: flex-start;

      line-height: 17px;
    }

    @include mixins.respond-to(tabletOnly) {
      align-items: flex-start;
    }

    @include mixins.respond-to(tablet) {
      line-height: 17px;
    }

    @include mixins.respond-to(desktopM) {
      line-height: 21px;
    }
  }

  &__checkbox {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    border: 2px solid var(--color-white) !important;
    box-sizing: border-box;

    margin: 0 10px 0 0;
  }

  &__submit {

    box-sizing: border-box;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
    }

    @include mixins.respond-to(tablet) {
      width: 320px;
    }
  }

  &__column--right {
    position: relative;

    height: fit-content;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }

    @include mixins.respond-to(tablet) {
      display: none;
    }

    @include mixins.respond-to(desktopD) {
      display: block;
    }
  }

  &__image {
    display: inline-block;

    height: fit-content;
    vertical-align: top;
  }

  &__img {
    display: block;

    @include mixins.respond-to(desktopD) {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }
}