@use "../mixins";

// Анимации для бургера
@keyframes burger_before_default {
  from {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg)
  }

  50% {
    top: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  to {
    top: 8px;
    left: 50%;
    transform: translateX(-50%)
  }
}
@keyframes burger_before {
  from {
    top: 8px;
    left: 50%;
    transform: translateX(-50%)
  }

  50% {
    top: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  100% {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg)
  }
}
@keyframes burger_after_default {
  from {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg)
  }

  50% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  to {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%)
  }
}
@keyframes burger_after {
  from {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%)
  }

  50% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  100% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg)
  }
}

// Стили
.main-nav {
  // position: absolute;
  // top: 0;
  // left: 0;

  width: 100%;
  // height: 90px;

  &__nav-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%
  }

  &__nav-top {
    height: 80px;
    background-color: var(--color-tundora);

    margin: 0 0 25px 0;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }
  }

  &__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%
  }

  &__top-work, .main-nav__top-link {
    display: flex;
    align-items: center;
  }

  &__top-item-icon {
    margin: 0 5px 0 0;
  }
  
  &__top-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: var(--color-white);
  }

  &__top-contacts {
    display: flex;

    & .blue-hover {
      & svg {
        filter: inherit;
      }
    }
  }

  &__top-link {
    margin: 0 35px 0 0;

    &:last-child {
      margin: 0;
    }
  }

  &__nav-container {
    display: flex;
    align-items: center;

    height: 100%;

    @include mixins.respond-to(mobileOnly) {
      justify-content: space-between;

      padding: 26px 0 0 0;
    }

    @include mixins.respond-to(tabletOnly) {
      justify-content: space-between;
    }

    & .main-button {
      margin: 0 0 0 auto;

      @include mixins.respond-to(mobileOnly) {
        margin: 20px 0 0 0;
      }

      @include mixins.respond-to(tabletOnly) {
        margin: 20px 0 0 0;
      }
    }
  }

  &__logo-link {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.1s;

    @include mixins.respond-to(desktopS) {
      margin: 0 20px 0 0;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.1s;
      }
    }
 
    @include mixins.respond-to(desktopM) {
      margin: 0 90px 0 0;
    }
  }

  &__logo-image {
    display: inline-block;
    height: fit-content
  }

  &__logo-img {
    display: inline-block;
    vertical-align: top;

    @include mixins.respond-to(mobileOnly) {
      width: 150px;
      height: auto;
    }
  }

  &__nav-menu {
    display: flex;
    align-items: center;

    width: 100%;
  }

  &__nav-menu--mobile {
    @include mixins.respond-to(mobileOnly) {
      position: absolute;
      top: 86px;
      left: 0;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      width: 100vw;
      height: calc(100vh - 54px);
      background-color: var(--color-wedgewood);
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior-y: contain;

      transform: translateX(-100%);
      transition: transform 0.4s cubic-bezier(0.37, 0, 0.63, 1);

      padding: 20px 5% 0 5%;

      z-index: 100;
    }
    @include mixins.respond-to(tabletOnly) {
      position: absolute;
      top: 185px;
      left: 0;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      width: 100vw;
      height: 100vh;
      background-color: var(--color-wedgewood);

      transform: translateX(-100%);
      transition: transform 0.4s cubic-bezier(0.37, 0, 0.63, 1);

      padding: 20px 5% 0 5%;

      z-index: 100;
    }
  }

  &__nav-list {
    @include mixins.respond-to(mobileOnly) {
      width: 100%
    }
    @include mixins.respond-to(tabletOnly) {
      width: 100%
    }
    @include mixins.respond-to(desktopS) {
      display: flex;

      margin: 0 10px 0 0;
    }
  }

  &__nav-item {
    display: inline-block;
    
    height: fit-content;

    &:last-child {
      margin: 0
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;

      margin: 0 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;

      margin: 0 0 30px 0;
    }

    @include mixins.respond-to(desktopS) {
      margin: 0 15px 0 0;
    }

    @include mixins.respond-to(desktopD) {
      margin: 0 30px 0 0;
    }

    @include mixins.respond-to(desktopM) {
      margin: 0 50px 0 0;
    }
  }

  &__nav-link {
    vertical-align: top;

    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: var(--color-black);

    @include mixins.respond-to(mobileOnly) {
      color: var(--color-white);
    }
    
    @include mixins.respond-to(tabletOnly) {
      font-size: 18px;
      color: var(--color-white);
    }
  }

  &__nav-menu--mobile--active {
    transform: translateX(0);
    transition: transform 0.4s cubic-bezier(0.37, 0, 0.63, 1)
  }

  &__nav-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin: 20px 0 0 0;

    & .main-nav__top-work br {
      display: none;
    }

    & .main-nav__top-contacts {
      flex-direction: column;

      margin: 20px 0 0 0;

      & .main-nav__top-link {
        margin: 0 0 20px 0;

        &:last-child {
          margin: 0;
        }
      }
    }

    @include mixins.respond-to(mobileOnly) {
      display: flex;
    }

    @include mixins.respond-to(tabletOnly) {
      display: none;
    }

    @include mixins.respond-to(desktopS) {
      display: none;
    }
  }

  &__burger {
    display: none;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 30px;
    cursor: pointer;
    outline: none;
    border: none;

    z-index: 5;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
    }

    @include mixins.respond-to(tabletOnly) {
      display: flex
    }
  }

  &__burger-line {
    position: relative;

    width: 100%;
    height: 2px;
    background-color: var(--color-wedgewood);

    transition: background-color 0.1s;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);

      width: 100%;
      height: 2px;
      background-color: var(--color-wedgewood);

      animation-duration: 0.4s;
      animation-name: burger_before_default;
      animation-fill-mode: forwards;

      transition: all 0.4s
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);

      width: 100%;
      height: 2px;
      background-color: var(--color-wedgewood);

      animation-duration: 0.4s;
      animation-name: burger_after_default;
      animation-fill-mode: forwards;

      transition: all 0.4s
    }
  }

  &__burger--active .main-nav__burger-line::before {
    animation-duration: 0.4s;
    animation-name: burger_before;
    animation-fill-mode: forwards
  }

  &__burger--active .main-nav__burger-line::after {
    animation-duration: 0.4s;
    animation-name: burger_after;
    animation-fill-mode: forwards;

    transition: all 0.4s
  }

  &__burger--active .main-nav__burger-line {
    background-color: transparent;

    transition-delay: 0.4s;
    transition: background-color 0.1s
  }
}