@use "../mixins";

.map {
  position: relative;

  margin: 70px 0 0 0;

  &__map-block {
    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 505px;
    }
  }

  &__contacts {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    pointer-events: none;

    @include mixins.respond-to(mobileOnly) {
      position: relative;
      top: auto;
      left: auto;

      display: flex;
      align-items: center;

      height: fit-content;
      pointer-events: all;
    }

    &-container {
      position: relative;

      height: 100%;
    }

    &-inner {
      position: absolute;
      top: 50%;
  
      display: flex;
      flex-direction: column;
  
      width: 550px;
      background-color: var(--color-white);
  
      transform: translateY(-50%);
  
      padding: 70px 10px 40px 70px;
      margin: auto 0;

      @include mixins.respond-to(mobileOnly) {
        position: relative;
        top: auto;

        width: 100%;

        transform: none;

        padding: 20px 0 20px 0;
      }
    }

    &-title {
      pointer-events: all;

      font-family: var(--font-family-title);
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
      color: var(--color-black);

      margin: 0 0 25px 0;

      @include mixins.respond-to(mobileOnly) {
        margin: 0 0 5px 0;
      }
    }

    &-phone {
      display: inline-block;

      pointer-events: all;

      font-family: var(--font-family-default);
      font-weight: 400;
      font-size: 30px;
      line-height: 47px;
      color: var(--color-black);

      margin: 0 0 40px 0;

      @include mixins.respond-to(mobileOnly) {
        margin: 0 0 20px 0;
      }
    }

    &-email, .map__contacts-address, .map__contacts-work {
      display: inline-block;

      pointer-events: all;

      font-family: var(--font-family-default);
      font-weight: 400;
      font-size: 22px;
      line-height: 35px;
      color: var(--color-black);
    }

    &-email {
      position: relative;

      padding: 0 0 10px 0;
      margin: 0 0 10px 0;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        width: 255px;
        height: 1px;
        background-color: var(--color-black);

        @include mixins.respond-to(mobileOnly) {
          width: 100%;
        }
      }
    }

    &-address {
      position: relative;

      margin: 0 0 30px 0;

      @include mixins.respond-to(mobileOnly) {
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
  
          width: 100%;
          height: 1px;
          background-color: var(--color-black);
        }
      }
    }

    &-work {
      position: relative;

      @include mixins.respond-to(mobileOnly) {
        padding: 0 0 10px 0;
        margin: 0 0 10px 0;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
  
          width: 100%;
          height: 1px;
          background-color: var(--color-black);
        }
      }
    }

    &-socials {
      display: flex;

      pointer-events: all;

      margin: 75px 0 0 0;

      @include mixins.respond-to(mobileOnly) {
        margin: 20px 0 0 0;
      }
    }
  }

  &__socials-link {
    pointer-events: all;

    margin: 0 15px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}