:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-tundora : #4a4a4a;
	--color-fountain-blue: #539ac1;
	--color-wedgewood: #427b9a;
	--color-gallery: #f0f0f0;
	--color-ebony-clay: #232c3d;
	--color-boulder: #787878;
	--color-mine-shaft: #292929;
	--color-mercury: #e9e9e9;
	--color-half-baked: #8ebed8;

	// Шрифты
	--font-family-default: "Circe", system-ui, sans-serif;
	--font-family-title: "Ruda", system-ui, sans-serif;

	//Размер контейнера
	--container-width: 1300px;
}