:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-tundora : #4a4a4a;
	--color-fountain-blue: #539ac1;
	--color-wedgewood: #427b9a;
	--color-gallery: #f0f0f0;

	// Шрифты
	--font-family-default: "Circe", system-ui, sans-serif;
	--font-family-title: "Ruda", system-ui, sans-serif;
}
